<%- include("header") -%>

<h2 style=color:purple;>This is about page</h2>
<p style=color:purple;>Some gibrish is here sgfn fshfgj fesgbj ab  dgdefwaejsf wsytgjhyht etjy.</p

 <%- include("footer") -%>
