<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To DO List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="images/favicon.ico">
</head>

<body>
  <div class="box" id="heading">
    <h1 style=color:purple;> <%= listTitle%> </h1>
  </div>
 <div class="box">

  <%  for( var i=0;i<newListItems.length;i++){ %>
  <div class="item">
    <input type="checkbox" >
    <p> <%= newListItems[i] %> </p>
  </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off"><br>

    <button type="submit" name="button" value: <%= listTitle  %>+ </button>
  </form>
   </div>
</body>
<footer>
  Copyright 2022 Soni Kumari.
</footer>
</html>
